# {{ ansible_managed }}

{% if conf.wsgi_threads is defined %}
WSGIProcessGroup {{ conf.domain_name }}
{% endif %}
WSGIScriptAlias / {{ conf.host_path }}/{{ conf.wsgi_script|default('index.wsgi') }}

LimitRequestBody {{ conf.limit_request_body|default(10485760) }}

{% if loglevel is defined %}LogLevel {{ loglevel }}
{% endif %}

Alias /static/ {{ conf.host_path }}/static/
<Location "/static/">
    Options -Indexes
</Location>

Alias /media/ {{ conf.host_path }}/media/
<Location "/media/">
    Options -Indexes
</Location>
